div.time-unit {
	height: 85px;
	position:relative;
	width: 94px;
	border: 1px solid;
	border-color: #D6D7DA;
	border-radius: 5px;
	text-align: center;
	display: inline-table;
	margin-left: 15px;
}
.time-unit-body {
	padding-top: 15%;
}
.time-number:after {	
    content: '\A';
    white-space: pre;
}
.time-number {
	font-weight: bold;
	font-size: 30px;
}
.time-description {
	color: #9E9E9E;
}